<div id="carouselControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div *ngFor="let item of data; let i = index" class="carousel-item {{ i == 0 ? 'active' : ''}}">
            <img class="d-block center-block" src="{{item.src}}" alt="{{item.title}}">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>