<div class="container mt-5">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a href="#">Produtos</a></li>
            <li class="breadcrumb-item active" aria-current="page">Carrinho</li>
        </ol>
    </nav>

    <div class="card mt-5 mb-5">
        <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
                <tr>
                    <th scope="col">Descrição</th>
                    <th scope="col" width="120">Quantidade</th>
                    <th scope="col" width="120">Preço</th>
                    <th scope="col" width="200" class="text-right">Ação</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of dataCart.products; let i = index">
                    <td>
                        <figure class="media">
                            <div class="img-wrap"><img [src]="item.url_image"
                                    class="img-thumbnail img-sm"></div>
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">{{item.title}}</h6>
                                <dl class="param param-inline small">
                                    <dt>Tamanho: </dt>
                                    <dd>{{item.size}}</dd>
                                </dl>
                            </figcaption>
                        </figure>
                    </td>
                    <td>
                        <select class="form-control" [(ngModel)]="item.amount"  [name]="item.amount">
                            <option *ngFor="let item of _amount; let i = index" [value]="i" [selected]="i == 1">{{i}}</option>
                        </select>
                    </td>
                    <td>
                        <div class="price-wrap">
                            <var class="price">{{(item.price * item.amount) | currency:'BRL':true:'1.2-2'}}</var>
                            <small class="text-muted">({{item.price | currency:'BRL':true:'1.2-2'}} UND)</small>
                        </div> 
                    </td>
                    <td class="text-right">
                        <button type="button" class="btn btn-outline-danger" (click)="Remove(item)"> × Remove</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div> 
    <div class="row mb-5">
        <div class="col">
            <a class="btn btn-person-secondary btn-lg pull-right" (click)="Clear()">Cancelar pedido</a>
        </div>
        <div class="col">
            <a href="#" class="btn btn-lg btn-person"  [routerLink]="['/clientes']">Proximo Passo</a>
        </div>
    </div>
</div>
