<div class="container-fluid mx-auto">
  <div class="container">

    <div class="row">
      <div class="line mb-3 mx-auto"></div>
      <div class="d-md-flex px-5 justify-content-around bd-highlight col-md-12 pt-5 pb-5 mb-3">
        <div class="p-2 flex-fill bd-highlight mb-5 mb-md-0">
          <h3>Blue Modas</h3> <small>Copyright &copy 2021</small>
        </div>
        <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <h5 class="places">Região SP</h5>
          <p class="mb-0">Riberão Preto, SP</p>
          <p class="mb-0">Rua teste 8, lote 24.</p>
        </div>

        <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <h5 class="places">Região RN</h5>
          <p class="mb-0">Riberão Preto, RN</p>
          <p class="mb-0">Rua teste 8, lote 24.</p>
        </div>

        <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <h5 class="places">Região RJ</h5>
          <p class="mb-0">Riberão Preto, RJ</p>
          <p class="mb-0">Rua teste 8, lote 24.</p>
        </div>

        <div class="p-2 flex-fill bd-highlight mb-3 mb-md-0">
          <h5 class="places">Região SC</h5>
          <p class="mb-0">Riberão Preto, SC</p>
          <p class="mb-0">Rua teste 8, lote 24.</p>
        </div>
       
      </div>
      <div class="line mb-3 mx-auto"></div>
    </div>
    <div class="row bottom-part">
      <div class="d-lg-flex justify-content-between bd-highlight col-md-12 mb-5 px-5">
        <div class="p-2 align-self-center flex-fill bd-highlight">
          <div class="fa fa-facebook px-2"></div>
          <div class="fa fa-linkedin px-2"></div>
          <div class="fa fa-twitter px-2"></div>
          <div class="fa fa-instagram px-2"></div>
        </div>
        <div class="p-2 row flex-fill bd-highlight justify-content-left">
          <div class="p-2 d-lg-flex">
            <div class="p-2 flex-fill d-flex bd-highlight">Servico</div>
            <div class="p-2 flex-fill d-flex bd-highlight">Termos de uso</div>
            <div class="p-2 flex-fill d-flex bd-highlight">Termos do consumidor</div>
            <div class="p-2 flex-fill d-flex bd-highlight">Blog</div>
            <div class="p-2 flex-fill d-flex bd-highlight">Trabalhe conosco</div>
          </div>
        </div>
        <div class="p-2 align-self-center flex-fill bd-highlight">
          <div class="px-2 grey-text">
             Todos os direitos reservados. <a href="https://www.brenomirandaster.com/" target="_blank">Breno Miranda</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>