<div class="container mt-5">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item"><a href="#">Carrinho</a></li>
            <li class="breadcrumb-item active" aria-current="page">Clientes</li>
        </ol>
    </nav>

    <div class="row">
        <form>
            <div class="form-group">
                <label for="inputName">Nome</label>
                <input type="email" class="form-control" id="inputName" aria-describedby="NamelHelp"
                    placeholder="Seu nome">
                <small id="NamelHelp" class="form-text text-muted">* informação obrigatorio</small>
            </div>
            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp"
                    placeholder="Seu email">
                <small id="emailHelp" class="form-text text-muted">* informação obrigatorio</small>
            </div>
            <div class="form-group">
                <label for="inputTel">Password</label>
                <input type="text" class="form-control" id="inputTel" aria-describedby="phoneHelp" placeholder=" Seu telefone">
                <small id="phoneHelp" class="form-text text-muted">* informação obrigatorio</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>